<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
	<add key="fileName" value="d3d11.dll"/>
	<add key="installationPath" value="C:\Program Files\Guild Wars 2\"/>
	<add key="resourcesAddress" value="https://www.deltaconnected.com/arcdps/x64/"/>
  </appSettings>
</configuration>
